In [8]:
data = ['ajay','ravi','akshay','karan','shivam']

import time
for i,j in enumerate(data):
    if i == 2:
        continue
    else:
        print(i,j)
    time.sleep(1)

0 ajay
1 ravi
3 karan
4 shivam

In [9]:
data = {'Names':['ajay','ravi','jatin'],
       'Maths':[18,20,17],
       'Hindi':[20,12,18],
       'Sci':[20,11,10]}


data

{'Names': ['ajay', 'ravi', 'jatin'],
 'Maths': [18, 20, 17],
 'Hindi': [20, 12, 18],
 'Sci': [20, 11, 10]}

In [11]:
import pandas as pd

In [13]:
table = pd.DataFrame(data)

In [17]:
table.to_excel('myfile.xlsx')

In [18]:
table.to_csv('myfile.csv')

In [19]:
data = {'Names':['ajay','ravi','jatin'],
       'Maths':[18,20,17],
       'Hindi':[20,12,18],
       'Sci':[20,11,10]}

In [21]:
data['Maths']

[18, 20, 17]

In [22]:
[20]*10

[20, 20, 20, 20, 20, 20, 20, 20, 20, 20]

In [23]:
data['Maths'] = [20]*3

In [24]:
data

{'Names': ['ajay', 'ravi', 'jatin'],
 'Maths': [20, 20, 20],
 'Hindi': [20, 12, 18],
 'Sci': [20, 11, 10]}

In [27]:
var = (2,423,42,135)

var[2] = 23456432

TypeError: 'tuple' object does not support item assignment

In [32]:
for i in data:
    print(i,data[i])

Names ['ajay', 'ravi', 'jatin']
Maths [20, 20, 20]
Hindi [20, 12, 18]
Sci [20, 11, 10]

In [37]:
for i in data:
    data[i] = input(f'Enter your {i}: ')

Enter your Names: karan
Enter your Maths: 34
Enter your Hindi: 23
Enter your Sci: 23

In [38]:
data

{'Names': 'karan', 'Maths': '34', 'Hindi': '23', 'Sci': '23'}

In [39]:
students = ['jatin','karan','ravi']

students

['jatin', 'karan', 'ravi']

In [41]:
students.append('gaurav')

In [43]:
students

['jatin', 'karan', 'ravi', 'gaurav']

In [46]:
data = {'Names':['ajay','ravi','jatin'],
       'Maths':[18,20,17],
       'Hindi':[20,12,18],
       'Sci':[20,11,10]}

In [48]:
for i in range(4):
    for j in data:
        data[j].append(input(f'Enter your {j}: '))
    
    print('Record inserted successfully!!')

Enter your Names: mukul
Enter your Maths: 23
Enter your Hindi: 21
Enter your Sci: 25
Record inserted successfully!!
Enter your Names: komal
Enter your Maths: 21
Enter your Hindi: 22
Enter your Sci: 23
Record inserted successfully!!
Enter your Names: akshay
Enter your Maths: 20
Enter your Hindi: 19
Enter your Sci: 18
Record inserted successfully!!
Enter your Names: kavya
Enter your Maths: 20
Enter your Hindi: 19
Enter your Sci: 19
Record inserted successfully!!

In [49]:
data

{'Names': ['ajay', 'ravi', 'jatin', 'mukul', 'komal', 'akshay', 'kavya'],
 'Maths': [18, 20, 17, '23', '21', '20', '20'],
 'Hindi': [20, 12, 18, '21', '22', '19', '19'],
 'Sci': [20, 11, 10, '25', '23', '18', '19']}

# Functions

In [50]:
def add(a,b):
    print(a + b)

In [51]:
add(10,20)

30

In [52]:
def greet(name):
    print(f'Hello {name}, how are you??')

In [54]:
greet('ajay')

Hello ajay, how are you??

In [55]:
pip install gTTS

Requirement already satisfied: gTTS in c:\users\lenovo\anaconda3\lib\site-packages (2.3.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\lenovo\anaconda3\lib\site-packages (from gTTS) (2.31.0)
Requirement already satisfied: click<8.2,>=7.1 in c:\users\lenovo\anaconda3\lib\site-packages (from gTTS) (8.1.3)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from click<8.2,>=7.1->gTTS) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (2023.5.7)
Note: you may need to restart the kernel to use updated packages.

In [57]:
from gtts import gTTS
print('done')

done

pygame 2.5.1 (SDL 2.28.2, Python 3.11.3)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [59]:
pip install pygame

Requirement already satisfied: pygame in c:\users\lenovo\anaconda3\lib\site-packages (2.5.1)
Note: you may need to restart the kernel to use updated packages.

In [61]:
import pygame

In [64]:
pygame.init()
text = gTTS('Hello Aman how are you')
text.save('myfile.mp3')

audio = pygame.mixer.Sound('myfile.mp3')
audio.play()

In [67]:
def greet_and_speech(name):
    text = gTTS(f'Hello {name} how are you')
    text.save('myfile.mp3')

    audio = pygame.mixer.Sound('myfile.mp3')
    audio.play()

In [69]:
greet_and_speech('ravi')

In [74]:
def info(a = 30 ,b=10,c = 20):
    '''This is an info func
    ex : info()
    ans : 40'''
    return a - b + c

In [71]:
info()

40

In [72]:
info(a = 50, c = 80)

120

In [75]:
len('ajay')

4

In [76]:
min('ajay')

'a'

In [77]:
max('ajay')

'y'

In [ ]:
data = 


'ant'
'tan'
'atn'
'nat'
'nta'
'tna'

In [78]:
# 'word'

In [84]:
def factorial(num):
    result = 1
    
    for i in range(1,num+1):
        result*= i

    return result

In [85]:
factorial(12)

479001600

In [86]:
import satyug
print('done')

done

In [87]:
satyug.factorial(4)

24

In [88]:
satyug.info()

40

In [89]:
import satyug as s

In [90]:
s.info()

40

In [91]:
from satyug import factorial

In [92]:
factorial(30)

265252859812191058636308480000000

In [104]:
class Python:
    
    def __init__(self):
        print('this is my python class')
        
    def greet(self):
        print('welcome!!')
        
    def how(self,name):
        print(f'hello {name}, how are you?')
        
    def bye(self):
        print('Bye!! Bye!!')

In [105]:
obj1 = Python()

this is my python class

In [106]:
obj1.greet()

welcome!!

In [103]:
obj1.how('mohan')

hello mohan, how are you?